server:
  port: 8080

spring:
  application:
    name: bugui
  config:
    import: optional:configserver:http://localhost:8888/
  cloud:
    config:
      profile: prod

  datasource:
    url: jdbc:mysql://localhost:3306/mydatabase
    username: myuser
    password: sa

  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include:
          - '*'
